**/.terraform/

*.tfstate
*.tfstate.*
*.tfstate.backup

crash.log
crash.*.log

*.tfvars.json

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

ec2-key
*.pem
*.key
id_rsa
id_rsa*


.DS_Store
Thumbs.db